html {
    scroll-behavior: smooth;
  }

.navbar-list{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(163, 82, 244);
}

.navbar-list a{
    text-decoration: none;
    color: inherit;
    
}

.navbar-list li:hover{
    color: rgb(187, 162, 224);
}

@media screen and (max-width:450px){
    .navbar-list{
        gap: 10px;
        font-size: 14px;
    }
    
}